<div class="container mt-2">
  <div class="card text-center">
    <div class="card-header text-center">
      <h5>
        Resumen
      </h5>
    </div>
    <div class="card-body">
      <table class="table text-left">
        <thead>
          <tr>
            <th scope="col">Concepto</th>
            <th scope="col">Detalle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Dependientes Disponibles</th>
            <td>3</td>
          </tr>
          <tr>
            <th scope="row">Clientes Atendidos</th>
            <td>15</td>
          </tr>
          <tr>
            <th scope="row">Clientes en espera</th>
            <td>3</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-muted">
      Datos obtenidos el día de hoy
    </div>
  </div>
</div>